
    body {
      margin: 0;
      background-color: #ffffff;
      font-family:'roboto condensed';
      font-weight: 650;
    }
    footer {
      text-align: center;
      color: #fff;
      background-color: rgb(20,20,24);
      height: 5rem;
      align-content: center;
      letter-spacing: 0.5px;
    }

    .subtitulo{
      text-align: center;
        font-family: "Nata Sans";
      font-weight: 900;
      letter-spacing: -0.07rem;
      color: rgb(20, 20, 24);
        margin-left: 5rem;
        margin-right: 5rem;
    }

.contenido{
 text-align: center;
    font-family: "Nata Sans";
  letter-spacing:0.1rem;
  font-style: light;
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  color: #232323;
}

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem;
      background: rgb(20, 20, 24);
      box-shadow: 0 0px 10px rgba(20,20,24);
    
    }
    .cover{
      width: 100%;
      height: auto;
    }

    .logo {
      height: 2.5rem;
      transition: transform 0.3s ease;
      cursor: pointer;
    }

    .logo:hover {
      transform: scale(1.05);
      filter: invert(25%);
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin-left: 2rem;
      font-size: 1rem;
      position: relative;
      text-transform: uppercase;
    }

    nav a::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: #555555;
      transition: width 0.2s ease;
    }

    nav a:hover::after {
      width: 100%;
    }

    .cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Ocultar imagen mÃ³vil por defecto */
.mobile {
  display: none;
}

    @media (max-width: 600px) {
      .logo{
        height: 2.5rem;
      }

.contenido{
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

    }

    .subtitulo{
      font-family: "Nata Sans", sans-serif;
      font-weight: 900;
      letter-spacing: -0.07rem;
      color: rgb(20, 20, 24);
        text-align: center;
        margin-left: 5rem;
        margin-right: 5rem;
        align-content: center;
    }

      footer {
        background-color: rgb(20,20,24);
        height: 5rem;
        align-content: center;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.5px; 
          font-family: "Roboto Condensed", sans-serif;
      }

      header {
        flex-direction: column;
        align-items: center;
      }

      nav {
        margin-top: 1rem;
      }

      nav a {
        margin: 0 1rem;
      }

.desktop {
    display: none;
  }

  .mobile {
    display: block;
    aspect-ratio: 9 / 16;
    height: 100vh;
    object-fit: cover;

      @import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
  
}



    
